h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
strong,
li,
ol,
ul,
table,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}
body {
    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    color: #737373;
    margin: 24px;
}
a {
    color: #0069d6;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}
a:hover {
    color: #0050a3;
    text-decoration: underline;
}
a img {
    border: none;
}
p {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    color: #404040;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 36px;
}
h2 {
    font-size: 24px;
    line-height: 36px;
}
h3,
h4,
h5,
h6 {
    line-height: 36px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
ul, ol {
    margin: 0 0 18px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
li {
    line-height: 18px;
    color: #808080;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #eee;
}
strong {
    font-style: inherit;
    font-weight: bold;
    line-height: inherit;
}
em {
    font-style: italic;
    font-weight: inherit;
    line-height: inherit;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eeeeee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    padding: 0 3px 2px;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
code {
    background-color: #fee9cc;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px dashed #ccc;
    border: 1px dashed rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fdfdfd;
    color:#737373;
    font-size: 11px;
}
table {
    width: 100%;
    margin-bottom: 18px;
    padding: 0;
    border-collapse: separate;
    font-size: 13px;
}
table th, table td {
    padding: 10px 10px 9px;
    line-height: 13.5px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}
table th {
    padding-top: 9px;
    font-weight: bold;
    border-bottom-width: 2px;
}
@media screen and (min-width: 848px) {
		body {
			width: 800px;
            margin:24px auto;
		}
}
