language: python

cache: 
  pip: true
  directories:
    - $HOME/pandoc

branches:
  only:
    - source # only build source branch

install:
  # Install binary pandoc from Rstudio
  # To use Pandoc, uncomment the following
  - export PATH="$HOME/pandoc:$PATH"
  - mkdir -p $HOME/pandoc # `-p` avoids error if dir exists
  - curl -O https://s3.amazonaws.com/rstudio-buildtools/pandoc-1.12.3.zip
  - unzip -j -o pandoc-1.12.3.zip pandoc-1.12.3/linux/debian/x86_64/pandoc
      -d $HOME/pandoc
  - chmod +x $HOME/pandoc/pandoc
  - pandoc --version
  - pip install invoke

script: 
  - inv build
  - ls

after_success:
  - ls
  - git config --global user.email ${GIT_EMAIL}
  - git config --global user.name ${GIT_NAME}
  - git clone --quiet --branch=master https://${GH_TOKEN}@github.com/postpop/postpop.github.io master > /dev/null
  - cd master
  - cp -f $HOME/style.css .
  - cp -f $HOME/index.html .
  - cp -f $HOME/about.html .
  - cp -f $HOME/read.html .
  - cp -rf $HOME/pdf .
  - git add .
  - git commit -a -m "Travis CI autocommit from travis build ${TRAVIS_BUILD_NUMBER}"
  - git push -fq origin master > /dev/null

# env:
#   global:
#     secure: EXAMPLE

# Generate your secure token with the travis gem:
# get Github token from your Travis CI profile page
# gem install travis
# travis encrypt 'GIT_NAME="YOUR_USERNAME" GIT_EMAIL="YOUR_EMAIL" GH_TOKEN=YOUR_TOKEN'