language: python

cache: 
  pip: true
  directories:
    - $HOME/pandoc
install:
  # Install binary pandoc from Rstudio
  # To use Pandoc, uncomment the following
  - export PATH="$HOME/pandoc:$PATH"
  - mkdir -p $HOME/pandoc # `-p` avoids error if dir exists
  - curl -O https://s3.amazonaws.com/rstudio-buildtools/pandoc-1.12.3.zip
  - unzip -j -o pandoc-1.12.3.zip pandoc-1.12.3/linux/debian/x86_64/pandoc
      -d $HOME/pandoc
  - chmod +x $HOME/pandoc/pandoc
  - pandoc --version
  - pip install invoke

script: cd src/;inv build

# env:
#   global:
#     secure: EXAMPLE

# Generate your secure token with the travis gem:
# get Github token from your Travis CI profile page
# gem install travis
# travis encrypt 'GIT_NAME="YOUR_USERNAME" GIT_EMAIL="YOUR_EMAIL" GH_TOKEN=YOUR_TOKEN'