<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jan Clemens | {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ desc }}">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

     {{ content }}
    
      <p>last edit {{ site.time | date: "%Y/%m/%d" }}, 
  <a href="about.html">about this site</a></p>
  <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=7501063; 
var sc_invisible=1; 
var sc_security="300e5269"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="website
statistics" href="http://statcounter.com/free-web-stats/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/7501063/0/300e5269/1/"
alt="website statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->
</body>
